<div class="vh-100 col-1 side-nav d-flex flex-column">

		<a id="Home"><span>Queue</span></a>
		<a id="Manager"><span>Manage</span></a>
		<a id="Configuration"><span>Configure</span></a>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
	$(window).on("load", function(){
		@{
			var z = this.Context.GetRouteData().Values["controller"]?.ToString();
		}
		console.log("@z");
		$("#@z").addClass("a-active");
	});
</script>
